<div layout="row" layout-sm="column" layout-wrap="">

  <div flex="50">
    <h5>My Parties</h5>
    <div *ngFor="let party of parties | async">
      <div>
        <mat-card>
          <span>
            {{party.title}} - {{party.date}}</span>
          <span class="fill-remaining-space"></span>
          <span (click)="openParty(party)">
            <mat-icon id="party">
              queue_music
            </mat-icon>
          </span>
          <span (click)="startParty(party)">
            <mat-icon id="partyStart(party)">
              queue_music
            </mat-icon>
          </span>
        </mat-card>
      </div>
    </div>
  </div>


  <div flex="50">
    <h5 class="mt-3">Past Parties</h5>
    <div *ngFor="let party of pastParties | async">
      <div>
        <mat-card>
          <span>
            {{party.title}} - {{party.date}}</span>
          <span class="fill-remaining-space"></span>
          <span (click)="openParty(party)">
            <mat-icon id="party">
              queue_music
            </mat-icon>
          </span>
        </mat-card>
      </div>
    </div>
  </div>

  <mat-toolbar class="bottom-toolbar">
    <button mat-raised-button id="createParty" color="primary" [routerLink]="['/host/1/party/add']"
      routerLinkActive="router-link-active">
      <mat-icon>playlist_add</mat-icon>
    </button>
    <button mat-raised-button (click)="go()">
      <mat-icon>playlist_add</mat-icon>
    </button>
  </mat-toolbar>

</div>
