<div>
  <mat-card>
    <mat-card-title>{{tracks[0].title}}</mat-card-title>
    {{tracks[0].album}} - {{tracks[0].artist}}
    <mat-card-actions>
      <mat-icon>thumb_up</mat-icon>
      <mat-icon>thumb_down</mat-icon>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar class="example-margin" [value]="tracks[0].progress" [bufferValue]="tracks[0].bufferProgress">
      </mat-progress-bar>
    </mat-card-footer>
  </mat-card>

  <div *ngFor="let track of tracks">
    <mat-card>
      {{track.title}} - {{track.artist}}
      <span class="example-fill-remaining-space"></span>
      <mat-icon>thumb_up</mat-icon>
      <mat-icon>thumb_down</mat-icon>
    </mat-card>
  </div>

</div>
